sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain-community
langchain-experimental
langchain-google-genai
langchain_huggingface
gunicorn
huggingface_hub[hf_xet]
-e .